*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-color: rgb(101, 192, 253);
}
.container{
    
    display: flex;
    justify-content: start;
 
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
   
    max-width: 850px;
    height: 100%;
    position: relative;
    padding: 10px;
    
}
.mobile{
    display: flex;
    flex: 0 0 50%;
    width: 95%;
    height: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    flex-direction: column;
    margin-top: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    width: 100%;
    

}
.top div .crcl1{
    font-size: 9px;
    color: rgb(170, 170, 170);
    border: 5px solid rgb(37, 37, 37);
    border-radius: 50%;
}
.top div .circle2{
    font-size: 8px;
    color: rgb(68, 245, 156);
    
}
.top2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
   
}
.cam3{
    width: 15px;
    height: 15px;
    font-size: 8px;
    border: 1px solid yellow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color:yellow;
    background-color: rgb(19, 19, 18);
}
.cam2,.cam1,.cam4,.cam5{
    color:white;
    cursor: pointer;
}
.middle{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    
}
#cameraVideo{
    width: 96%;
    height: 100%;
    display: block;
    background-color:transparent;
}
.cameicon{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position:absolute;
    bottom:0;
    
}
.snap{
    display: flex;
    justify-content: space-around;
    text-align: center;
   width: 100%;
    color:white;
    padding-bottom: 20px;
}
.snap i:hover{
   background-color: gray;
    padding: 2px;
    border:5px solid white;
    color:yellow;
    border-radius: 50px;
    cursor: pointer;
}
.image{
    overflow-x: scroll;
    padding: 20px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-top: 40px;
}
.image div:hover{
    background-color: gray;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    color:yellow;
}
::-webkit-scrollbar {
    display: none;
}
.bottn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
}
.bottn .btns{
    background-color: rgb(209, 207, 207);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 2.5s;
}
.bottn:hover, .bottn .btns:hover{
background-color: rgb(247, 169, 2);
}
.menuaitems{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
.menuaitems i{
    padding: 10px;

}
.menuaitems i:hover{
    background: gray;
    cursor: pointer;
    border-radius: 20px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    height: auto;
    background-color:transparent;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 200px;
    

}

.item1 img{
    width: 150px;
    height: 80px;
   
    
}

.item1 img:hover{
    position: absolute;
    z-index: 99;
   width: 100%;
   cursor: pointer;
   height: 100%;
   overflow: hidden;
   top:0;
   left: 0;
   object-fit: cover;
   border:2px solid green;
   border-radius: 50px;
   padding: 50px;
   background-color: white;
   margin-bottom: 100px;
}
